linkedin_email="[Your Linkedin account email]"
linkedin_password="[Your LinkedIn Password]"

indeed_email="[Your Indeed account email]"


llm_api_key="[Your LLM API Key]"
llm_proxy="[Your LLM Proxy in format http(s)://login:password@host:port]"
llm_api_url="[Your OpenAI-compatible endpoint URL, e.g. http://localhost:8000/v1]"

tg_token="[Your Telegram Bot Token]"
tg_chat_id="[Address of your chat in format @name_of_your_chat]"
tg_err_topic_id="[ID or link of topic where bot will send error messages, e.g. 123 or t.me/c/123456789/123 or t.me/feedback/123]"
tg_report_topic_id="[ID or link of topic where bot will send everyday report on the job applies done, e.g. 123 or t.me/c/123456789/123 or t.me/feedback/123]"
